@font-face {
  font-family: 'Mark-Book';
  src: local('Mark-Book'), url(./fonts/Mark-Book.ttf) format('truetype');
}

@font-face {
  font-family: 'Mark-Light';
  src: local('Mark-Light'), url(./fonts/Mark-Light.ttf) format('truetype');
}

@font-face {
  font-family: 'Mark-Bold';
  src: local('Mark-Bold'), url(./fonts/Mark-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'Recoleta-Bold';
  src: local('Recoleta-Bold'), url(./fonts/Recoleta-Bold.ttf) format('truetype');
}

body {
  margin: 0;
  font-family: Mark-Book;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
